{% extends "cronapp/base.html" %}

{% block content %}


<div class="container my-4 cron-guide" style="font-family: poppins;">
    <p>If you want to periodically perform a task (e.g. sending Emails, backing up database, doing regular maintenance,
        etc.) at specified times and dates, there are two ways to set scheduled tasks:</p>
    <ul>
        <li> Method 1: Use our online cron job service that will save you a headache.</li>
        <li>Method 2: Use Cron available in Unix/Linux systems.</li>
    </ul>
    <p>
        If you go with method 2, the following generator can help you produce a crontab syntax that you can copy & paste
        to your crontab file (You can open the file by using command crontab –e). Below the generated crontab syntax, a
        list of run times will be displayed too. The predictions will help you ensure that you set the time and date
        right.</p>

</div>

<div class="container">
    <h2 class="cron-blog font-me">Generate Cron Expression</h2>


    <!--<div class="container my-4 style-generator" style="color:black"> -->
    <form class="" method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="card style-generator card-op" style="color:black" style="min-height:300px">

            <div class="card-header">
                <!-- <h5 class="card-title">CronTab Generator</h5> -->
                <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="minute-tab" data-bs-toggle="tab"
                                data-bs-target="#minute-tab-pane" type="button" role="tab" aria-controls="minute"
                                aria-selected="true">Minute
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="hour-tab" data-bs-toggle="tab" data-bs-target="#hour-tab-pane"
                                type="button" role="tab" aria-controls="hour" aria-selected="false">Hour
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="day-tab" data-bs-toggle="tab" data-bs-target="#day-tab-pane"
                                type="button" role="tab" aria-controls="day" aria-selected="false">Day(Month)
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="month-tab" data-bs-toggle="tab" data-bs-target="#month-tab-pane"
                                type="button" role="tab" aria-controls="month" aria-selected="false">Month
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="week-tab" data-bs-toggle="tab" data-bs-target="#week-tab-pane"
                                type="button" role="tab" aria-controls="week" aria-selected="false">Day(Week)
                        </button>
                    </li>
                </ul>
            </div>

            
            <div class="card-body">

                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active" id="minute-tab-pane" role="tabpanel"
                         aria-labelledby="minute-tab" tabindex="0">
                        <div class="row align-items-center">

                            <table class="generator">
                                <tr>
                                    <td>
                                        <table class="generator-1">
                                            <tbody>
                                            <tr>
                                                <td class="shortcut-margin">
                                                    <div>
                                                        <label class="radio" for="everyMinute"><input id="everyMinute"
                                                                                                      type="radio"
                                                                                                      checked="checked"
                                                                                                      value="*"
                                                                                                      name="cron_mins">
                                                            Every Minute</label>
                                                    </div>
                                                    <div>
                                                        <label class="radio" for="every5Minute"><input id="every5Minute"
                                                                                                       type="radio"
                                                                                                       value="*/5"
                                                                                                       name="cron_mins">
                                                            Every 5 Minutes</label>
                                                    </div>
                                                    <div>
                                                        <label class="radio" for="every10Minute"><input
                                                                id="every10Minute" type="radio" value="*/10"
                                                                name="cron_mins">
                                                            Every 10 Minutes</label>
                                                    </div>
                                                    <div>
                                                        <label class="radio" for="every15Minute"><input
                                                                id="every15Minute" type="radio" value="*/15"
                                                                name="cron_mins">
                                                            Every 15 Minutes</label>
                                                    </div>
                                                    <div>
                                                        <label class="radio" for="every20Minute"><input
                                                                id="every20Minute" type="radio" value="*/20"
                                                                name="cron_mins">
                                                            Every 20 Minutes</label>
                                                    </div>
                                                    <div>
                                                        <label class="radio" for="every30Minute"><input
                                                                id="every30Minute" type="radio" value="*/30"
                                                                name="cron_mins">
                                                            Every 30 Minutes</label>
                                                    </div>
                                                    <div>
                                                        <label class="radio" for="everyEvenMinute"><input
                                                                id="everyEvenMinute" type="radio" value="*/2"
                                                                name="cron_mins">
                                                            Every Even Minute</label>
                                                    </div>
                                                    <div>

                                                        <label class="radio" for="everyOddMinute"><input
                                                                id="everyOddMinute" type="radio" value="1-59/2"
                                                                name="cron_mins">
                                                            Every Odd Minute</label></div>

                                                </td>
                                                <td>
                                                    <table class="generator-2">
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <input type="radio" id="i1" value="select" name="cron_mins"
                                                                       class="radio-margin">
                                                            </td>
                                                            <td> 
                                                                <select class="item" id="item1" multiple size="10" name="cron_mins[]">
                                                                    {% for i in mins_iterator %} 
                                             
              <option value="{{i}}">{{i}}</option>

                    {% endfor %}
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="hour-tab-pane" role="tabpanel" aria-labelledby="hour-tab"
                         tabindex="0">

                        <div class="row align-items-center">

                            <table class="generator">
                                <tr>
                                    <td>
                                        <table class="generator-1">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div>
                                                        <label class="radio" for="everyHour"><input id="everyHour"
                                                                                                    type="radio"
                                                                                                    checked="checked"
                                                                                                    value="*"
                                                                                                    name="cron_hours">
                                                            Every Hour</label>
                                                    </div>
                                                    <div>
                                                        <label class="radio" for="every1Hour"><input id="every1Hour"
                                                                                                     type="radio"
                                                                                                     value="*/1"
                                                                                                     name="cron_hours">
                                                            Every 1 Hour</label>
                                                    </div>
                                                    <div>
                                                        <label class="radio" for="every3Hour"><input id="every3Hour"
                                                                                                     type="radio"
                                                                                                     value="*/3"
                                                                                                     name="cron_hours">
                                                            Every 3 Hour</label>
                                                    </div>
                                                    <div>
                                                        <label class="radio" for="every5Hour"><input id="every5Hour"
                                                                                                     type="radio"
                                                                                                     value="*/5"
                                                                                                     name="cron_hours">
                                                            Every 5 Hour</label></div>
                                                    <div>
                                                        <label class="radio" for="every6Hours"><input id="every6Hours"
                                                                                                      type="radio"
                                                                                                      value="*/6"
                                                                                                      name="cron_hours">
                                                            Every 6 Hours</label></div>
                                                    <div>
                                                        <label class="radio" for="every12Hours"><input id="every12Hours"
                                                                                                       type="radio"
                                                                                                       value="*/12"
                                                                                                       name="cron_hours">
                                                            Every 12 Hours</label></div>
                                                    <div>
                                                        <label class="radio" for="everyEvenHour"><input
                                                                id="everyEvenHour" type="radio" value="*/2"
                                                                name="cron_hours">
                                                            Every Even Hours</label></div>
                                                    <div>
                                                        <label class="radio" for="everyOddHour"><input id="everyOddHour"
                                                                                                       type="radio"
                                                                                                       value="1-23/2"
                                                                                                       name="cron_hours">
                                                            Every Odd Hours</label></div>
                                                </td>
                                                <td>
                                                    <table class="generator-2">
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <input type="radio" id="i2" value="select" name="cron_hours"
                                                                       class="radio-margin">
                                                            </td>
                                                            <td>
                                                                <select class="item" id="item2" multiple size="10" name="cron_hours[]">
                                                                    <option value="0">Midnight</option>
                                                                    <option value="1">1am</option>
                                                                    <option value="2">2am</option>
                                                                    <option value="3">3am</option>
                                                                    <option value="4">4am</option>
                                                                    <option value="5">5am</option>
                                                                    <option value="6">6am</option>
                                                                    <option value="7">7am</option>
                                                                    <option value="8">8am</option>
                                                                    <option value="9">9am</option>
                                                                    <option value="10">10am</option>
                                                                    <option value="11">11am</option>
                                                                    <option value="12">Noon</option>
                                                                    <option value="13">1pm</option>
                                                                    <option value="14">2pm</option>
                                                                    <option value="15">3pm</option>
                                                                    <option value="16">4pm</option>
                                                                    <option value="17">5pm</option>
                                                                    <option value="18">6pm</option>
                                                                    <option value="19">7pm</option>
                                                                    <option value="20">8pm</option>
                                                                    <option value="21">9pm</option>
                                                                    <option value="22">10pm</option>
                                                                    <option value="23">11pm</option>  
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="day-tab-pane" role="tabpanel" aria-labelledby="day-tab" tabindex="0">
                        <div class="row align-items-center">

                            <table class="generator">
                                <tr>
                                    <td>
                                        <table class="generator-1">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div><label class="radio" for="everyday"><input id="everyday"
                                                                                                    type="radio"
                                                                                                    checked="checked"
                                                                                                    value="*"
                                                                                                    name="cron_days">
                                                        Every Day</label></div>
                                                    <div>
                                                        <label class="radio" for="every5Days"><input id="every5Days"
                                                                                                     type="radio"
                                                                                                     value="*/5"
                                                                                                     name="cron_days">
                                                            Every 5 Days</label></div>
                                                    <div>
                                                        <label class="radio" for="every7Days"><input id="every7Days"
                                                                                                     type="radio"
                                                                                                     value="*/7"
                                                                                                     name="cron_days">
                                                            Every 7 Days</label>
                                                    </div>
                                                    <div>
                                                        <label class="radio" for="every10Days"><input id="every10Days"
                                                                                                      type="radio"
                                                                                                      value="*/10"
                                                                                                      name="cron_days">
                                                            Every 10 Days</label>
                                                    </div>
                                                    <div>
                                                        <label class="radio" for="every15Days"><input id="every15Days"
                                                                                                      type="radio"
                                                                                                      value="*/15"
                                                                                                      name="cron_days">
                                                            Every Half Month</label></div>
                                                    <div>
                                                        <label class="radio" for="everyEvenDay"><input id="everyEvenDay"
                                                                                                       type="radio"
                                                                                                       value="2-31/2"
                                                                                                       name="cron_days">
                                                            Even Days</label>
                                                    </div>
                                                    <div>
                                                        <label class="radio" for="everyOddDay"><input id="everyOddDay"
                                                                                                      type="radio"
                                                                                                      value="1-31/2"
                                                                                                      name="cron_days">
                                                            Odd Days</label></div>
                                                </td>
                                                <td>
                                                    <table class="generator-2">
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <input type="radio" id="i3" value="select" name="cron_days"
                                                                       class="radio-margin">
                                                            </td>
                                                            <td>
                                                                <select class="item" id="item3" multiple size="10" name="cron_days[]">
                                                                     {% for i in days_iterator %} 
                                             
                                 <option value="{{i}}">{{i}}</option>
 
                                                                     {% endfor %}

                                                                </select>                                         
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="month-tab-pane" role="tabpanel" aria-labelledby="month-tab"
                         tabindex="0">
                        <div class="row align-items-center">

                            <table class="generator">
                                <tr>
                                    <td>
                                        <table class="generator-1">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div>
                                                        <label class="radio" for="everyMonth"><input id="everyMonth"
                                                                                                     type="radio"
                                                                                                     checked="checked"
                                                                                                     value="*"
                                                                                                     name="cron_months">
                                                            Every Month</label>
                                                    </div>
                                                    <div>
                                                        <label class="radio" for="every3Months"><input id="every3Months"
                                                                                                       type="radio"
                                                                                                       value="*/3"
                                                                                                       name="cron_months">
                                                            Every Quarter</label>
                                                    </div>
                                                    <div>
                                                        <label class="radio" for="every4Months"><input id="every4Months"
                                                                                                       type="radio"
                                                                                                       value="*/4"
                                                                                                       name="cron_months">
                                                            Every 4 Months</label>
                                                    </div>
                                                    <div>
                                                        <label class="radio" for="every6Months"><input id="every6Months"
                                                                                                       type="radio"
                                                                                                       value="*/6"
                                                                                                       name="cron_months">
                                                            Every Half Year</label>
                                                    </div>
                                                    <div>
                                                        <label class="radio" for="everyEvenMonths"><input
                                                                id="everyEvenMonths" type="radio" value="*/2"
                                                                name="cron_months">
                                                            Even Months</label></div>
                                                    <div>
                                                        <label class="radio" for="everyOddMonths"><input
                                                                id="everyOddMonths" type="radio" value="1-11/2"
                                                                name="cron_months">
                                                            Odd Months</label></div>
                                                </td>
                                                <td>
                                                    <table class="generator-2">
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <input type="radio" id="i4" value="select" name="cron_months"
                                                                       class="radio-margin">
                                                            </td>
                                                            <td>
                                         <select class="item" id="item4" multiple size="10" name="cron_months[]">
                                                                    <option value="1">Jan</option>
                                                                    <option value="2">Feb</option>
                                                                    <option value="3">Mar</option>
                                                                    <option value="4">Apr</option>
                                                                    <option value="5">May</option>
                                                                    <option value="6">Jun</option>
                                                                    <option value="7">Jul</option>
                                                                    <option value="8">Aug</option>
                                                                    <option value="9">Sep</option>
                                                                    <option value="10">Oct</option>
                                                                    <option value="11">Nov</option>
                                                                    <option value="12">Dec</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="week-tab-pane" role="tabpanel" aria-labelledby="week-tab"
                         tabindex="0">
                        <div class="row align-items-center">

                            <table class="generator">
                                <tr>
                                    <td>
                                        <table class="generator-1">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div>
                                                        <label class="radio" for="everyWeekday"><input id="everyWeekday"
                                                                                                       name="cron_weeks"
                                                                                                       value="*"
                                                                                                       checked="checked"
                                                                                                       type="radio">
                                                            Every Day</label></div>
                                                    <div>
                                                        <label class="radio" for="everyNonWeekenDays"><input
                                                                id="everyNonWeekenDays" name="cron_weeks" value="1-5"
                                                                type="radio">
                                                            Monday - Friday</label></div>
                                                    <div>
                                                        <label class="radio" for="everyWeekenDays"><input
                                                                id="everyWeekenDays" name="cron_weeks" value="0,6"
                                                                type="radio">
                                                            Saturday - Sunday</label></div>
                                                    <div>
                                                        <label class="radio" for="mondaytothursday"><input
                                                                id="mondaytothursday" name="cron_weeks" value="1-4"
                                                                type="radio">
                                                            Monday - Thursday</label></div>
                                                    <div>
                                                        <label class="radio" for="everysunday"><input id="everysunday"
                                                                                                      name="cron_weeks"
                                                                                                      value="0"
                                                                                                      type="radio">
                                                            Sunday</label></div>
                                                </td>
                                                <td>
                                                    <table class="generator-2">
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <input type="radio" id="i5" value="select" name="cron_weeks"
                                                                       class="radio-margin">
                                                            </td>
                                                            <td>
                                                                <select class="item" id="item5" multiple size="10" name="cron_weeks[]">
                                                                    <option value="0">Sun</option>
                                                                    <option value="1">Mon</option>
                                                                    <option value="2">Tue</option>
                                                                    <option value="3">Wed</option>
                                                                    <option value="4">Thu</option>
                                                                    <option value="5">Fri</option>
                                                                    <option value="6">Sat</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
            <!-- tying this -->
            <div class="card-footer footer-color">
               <button class="btn btn-primary" type="submit" name="submit">Generate</button>
            </div>


        </div>

        

    </form>

    <h2 class="cron-blog font-me" style="margin-top:50px"> Your Cron Script is </h2>





<div class="card mb-4 card-op" >
  <h5 class="card-header text-center card-title font-me" style="color:#2455a9">CroNinja Output</h5>
  <div class="card-body card-op">
   <!-- <h5 class="card-title card-op">Your Cron Expression is </h5> -->
    <p class="card-text" id="bookmark" style="color:red ; font-size:20px"> <span style="color:blue">{{ mins }}</span><span style="color:red"> {{hours}}</span> <span style="color:#152a2a">{{days}}</span><span style="color:#15d915fc"> {{months}}</span><span style="color:purple"> {{weeks}}</span> </p>
       
  </div>
</div>



</div>

 <!-- <script type="text/javascript">
    document.getElementsByClassName('cron_manual_select').addEventListener('change', 
        function(){
            document.querySelector('input[value="select"]').checked = true;
             });  -->
   
<!-- <script type="text/javascript">
    const elements = document.querySelectorAll('.item');

    elements.forEach(function(item1, count){
        item1.addEventListner('change',function(){
            document.querySelector('input[value="select"]').checked = true;
        });
    });
    
</script>  -->

 <!-- <script type="text/javascript">

for(let i=0; i<document.querySelectorAll(".item").length; i++) {
    document.querySelectorAll('.item')[i].addEventListener("change", 
    function() {
        document.querySelector('input[value="select"]').checked = true;
    });
}
 </script>  -->


<!-- <script type="text/javascript">
     elements = document.querySelectorAll(".item");

              for(let i=0; i<elements.length; i++) {
                       elements[i].addEventListener("change", 
                       function() {

                       document.querySelector('input[value="select"]').checked = true;
                                   });
                                                    }
 </script>  -->

<script type="text/javascript">
     elements = document.querySelectorAll(".item");

              for(let i=0; i<elements.length; i++) {
                       elements[i].addEventListener("change", 
                       function() {
                        
                        let id_element = [
                        document.getElementById('i1'),
                        document.getElementById('i2'),
                        document.getElementById('i3'),
                        document.getElementById('i4'),
                        document.getElementById('i5')
                        ];
                        for(let j=0; j<id_element.length; j++){
                       id_element[j].checked = true;
                   }
                                   });
                                                    }
 </script>


{% endblock %}






