{% extends "cronapp/base.html" %}


{% block content %}


<div class="container my-4 cron-guide">
   <p>If you want to periodically perform a task (e.g. sending Emails, backing up database, doing regular maintenance, etc.) at specified times and dates, there are two ways to set scheduled tasks:</p>
<ul>
   <li> Method 1: Use our online cron job service that will save you a headache.</li>
   <li>Method 2: Use Cron available in Unix/Linux systems.</li>
</ul>
<p>
If you go with method 2, the following generator can help you produce a crontab syntax that you can copy & paste to your crontab file (You can open the file by using command crontab –e). Below the generated crontab syntax, a list of run times will be displayed too. The predictions will help you ensure that you set the time and date right.</p>

   </div>
<div class="container">

<h2 class="cron-blog">Generate Cron Expression</h2>

   <div class="card text-center my-4" style="min-height:300px">
        <div class="card-header">
          <!--  <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="#">Minute</a>
                </li>
              
                <li class="nav-item">
                <a class="nav-link" href="#">Hour</a>
                </li>
      
                <li class="nav-item">
                <a class="nav-link" href="#">Day(Month)</a>
                </li>
      
                <li class="nav-item">
                <a class="nav-link" href="#">Month</a>
                </li>
      
                <li class="nav-item">
                <a class="nav-link" href="#">Day(Week)</a>
                </li>
           </ul> -->
           <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Minute</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Hour</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Day(Month)</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Month</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Day(Week)</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>
        </div>

  <div class="card-body">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label class="col-form-label">Every</label>
        </div>
        <div class="col-md-1">
            <select multiple size="10" class="form-control" name="pnlDetails:pnlMinutes:ddMinutes">
                    <option selected="selected" value="0">0</option>
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="2">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                     <option value="6">6</option>
                     <option value="7">7</option>
                     <option value="8">8</option>
                     <option value="9">9</option>
                     <option value="10">10</option>
                     <option value="11">11</option>
                     <option value="12">12</option>
                     <option value="13">13</option>
                     <option value="14">14</option>
                     <option value="15">15</option>
                     <option value="16">16</option>
                     <option value="17">17</option>
                     <option value="18">18</option>
                     <option value="19">19</option>
                     <option value="20">20</option>
                     <option value="21">21</option>
                     <option value="22">22</option>
                     <option value="23">23</option>
                     <option value="24">24</option>
                     <option value="25">25</option>
                     <option value="26">26</option>                          
                     <option value="27">27</option>
                     <option value="28">28</option>
                     <option value="29">29</option>
                     <option value="30">30</option>
                     <option value="31">31</option>
                     <option value="32">32</option>
                     <option value="33">33</option>
                     <option value="34">34</option>
                     <option value="35">35</option>
                     <option value="36">36</option>
                     <option value="37">37</option>
                     <option value="38">38</option>
                     <option value="39">39</option>
                     <option value="40">40</option>
                     <option value="41">41</option>
                     <option value="42">42</option>
                     <option value="43">43</option>
                     <option value="44">44</option>
                     <option value="45">45</option>
                     <option value="46">46</option>
                     <option value="47">47</option>
                     <option value="48">48</option>
                     <option value="49">49</option>
                     <option value="50">50</option>
                     <option value="51">51</option>
                     <option value="52">52</option>
                     <option value="53">53</option>
                     <option value="54">54</option>
                     <option value="55">55</option>
                     <option value="56">56</option>
                     <option value="57">57</option>
                     <option value="58">58</option>
                     <option value="59">59</option>
            </select>
                  
                   <div class="col-auto">
                       <label class="col-form-label">minute(s)</label>
                   </div>

    </div>

       </div>
           <div class="card-footer">
              <a href="#" class="btn btn-primary">Generate</a>
           </div>
</div>


</div>   
{% endblock %}






